* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "寰蒋闆呴粦";
    font-size:16px;
}
body{ background:#f9f9fa;}
body img{
    max-width:100%;
}
li {
    list-style: none;
}
.l{ float:left;}
.r{ float:right;}
.d{ margin-right:0;}
a{ text-decoration: none; color:#e71f19; font-size:0.95em;}
.clear{ clear:both;}
section,
footer {
    max-width: 1374px;
    margin: 0 auto;
    background:#f9f9fa;
}
header .nav{
    width:100%;
    height:88px;
    background:#3097d0;
}
.banner_top{ margin-top:15px;}
/*澶撮儴宸﹁竟*/
.banner_top .left{ float:left;white-space: nowrap;/*overflow: hidden;*/text-overflow: ellipsis;}
.banner_top img{  float:left;}
.banner_top .left span{
    font-size:0.95em;
    color:#3fa0d4;
    margin-left:8px;
    display:block;
}
/* .banner_top .left a{ margin-left:10px;} */
.banner_top .left .marquee {margin-left:10px;}
/*澶撮儴鍙宠竟*/
.banner_top .right{ float: right; font-size:0.95em; color:#3fa0d4;right:0px; position:absolute;}
.banner_top .right img{ margin-right:8px; margin-top:2px;}
/*缁撴潫*/
/*涓棿寮€濮�*/
.banner_center{ width:100%;margin-top: -50px;}
.banner_center .left{
    width:30%;
    height:auto;
    border:1px solid #e3e3e3;
    /*margin-right:3%;*/
}
/*涓棿缁撴潫*/
.banner_center .left{margin-top:25px;}
.banner_center .left span{ font-size:1.2em; color:#3fa0d4; margin-left:10px; white-space: nowrap; overflow: hidden;}
.banner_center .left img{ margin-left:20px; margin-top:10px;}
.w_bg{ width:100%; height:204px; background:#fff; margin-top:10px;}
.w_bg img{ margin-top:20px;}
.w_bg span{ font-size:0.95em; margin-left:15px; margin-top:10px; white-space: nowrap;}
.dai{ color:#525252; font-size:0.9375em;}
.w_bg .x_x{ background:url("../images/img_11.png") no-repeat; width:100%; height:1px; margin-top:15px;}
/*鍥捐〃*/
.t_bg{width:100%; height:auto; border:1px solid #e3e3e3; margin-top:15px;}
.t_bg img{ margin-top:20px; margin-left:20px;}
.t_bg span{ color:#3fa0d4;}
.wr_bg{ width:100%; height:377px; background:#fff; margin-top:70px;}

.n_f{ float:right; margin-right:20px;margin-top:20px; font-size:0.9375em;}
#option{
    color:#b5b5b5;
    border:1px solid #b5b5b5;
}
#two{ margin-left:5%;}
#dai{ color:#525252;}
#shi{ color:#ffae00;}
#san{ color:#e71f19;}
#er{ color:#5ebd12;}
footer p{ text-align: center; margin:15px auto; font-size:0.95em; color:#636363;}
/*****濯掍綋鍙湁灞忓箷锛堟渶灏忓搴︼細1200px锛�*/
/*
@media only screen and (min-width: 1024px){
    section,
    footer{
        width:93%;
    }
}*/
@media only screen and (min-width: 960px) and (max-width: 1023px){
 section{
     width:95%
 }
    .banner_center .left span{
        font-size:1.0625em;
    }
    .w_bg span{
        font-size:0.875em;

    }
}
@media only screen and (min-width: 768px) and (max-width: 959px){
    .banner_center .left span{
        font-size:1em;

    }
    .w_bg span{
        font-size:0.8125em;

    }
}
@media only screen and (min-width: 480px) and (max-width: 767px){
 #three{
    float:left;
     margin-top:60px;
    margin-left:20px;
     width:45%;
 }
#one{
    width:45%;
    margin-left:3%;
}
#two{
    width:45%;
}
/* .banner_top .right{
    float:left;
    margin-top:10px;
} */
    .banner_center .left span{
        font-size:0.9375em;

    }
    .w_bg span{
        font-size:0.75em;

    }
    .banner_top .left a{
        font-size:0.6875em;
    }
    .wr_bg{
       height:280px;
    }

}
@media only screen and (max-width: 479px){
    #one{
        width:95%;
        margin-left:2.5%;
    }
    #two{
        width:95%;
        margin-left:2.5%;
    }
    .banner_center .left span{
        font-size:0.75em;

    }
    #three{
        width:95%;
        margin-left:2.5%;
    }
    /* .banner_top .right{
        float:left;
        margin-top:10px;
    } */
    .banner_top .left a{
        font-size:0.625em;
    }
    .wr_bg{
        height:180px;
    }
    #foot{
       font-size:0.625em;
        width:90%;
    }
}