.mod_select{
            position:absolute;
            left:40%;
            top:3px;
            font-familY:Arial, Helvetica, sans-serif;
        }
        .mod_select ul{
            margin:0;
            padding:0;
        }
        .mod_select ul li{
            list-style-type:none;
            float:left;
            margin-left:20px;
            height:24px;
        }
        .select_label{
            color:#982F4D;
            float:left;
            line-height:24px;
            padding-right:10px;
            font-size:12px;
            font-weight:700;
        }
        .select_box{
            float:left;
            border:1px solid rgb(157,157,157);
            color:#444;
            position:relative;
            cursor:pointer;
            width:165px;
            font-size:13px;
        }
        .selet_open{
            display:inline-block;
            position:absolute;
            right:0;
            top:0;
            width:30px;
            height:24px;
            background:url('img/down.png') no-repeat center center;
        }
        .select_txt{
            display:inline-block;
            padding-left:10px;
            width:135px;
            line-height:28px;
            height:24px;
            cursor:text;
            overflow:hidden;
        }
        .option{
            width:165.5px;
            border:1px solid rgb(157,157,157);
            position:absolute;
            top:28px;
            left:-1px;
            z-index:2;
            overflow:hidden;
            display: none;
        }
        .option a{
            display:block;
            height:26px;
            line-height:26px;
            text-align:left;
            padding:0 10px;
            width:100%;
            background:#fff;
        }
        .option a:hover{
            background:#dfeffc;
            color: #000;
            text-decoration: none;
        }
        .sanjiao{
            float: right;
            width: 16px;
            height: 16px;
            background: url('${ctx }/webResources/snapShot/images/login/images/right.png') no-repeat center center;
            margin-top: 5px;
        }
        .sanjiao.active{
            background: url('img/down.png') no-repeat center center;
        }
        .save,.reset{
            background: rgb(96,193,207);
            color: #fff;
            padding: 5px 20px;
            margin-right: 10px;
        }
        table{
            width:90%;
            /*margin:5%;*/
        }
        tr>td:first-child{
            width:130px;
        }
        .banner_center div span{
		position:relative;top:8px;
	}
	.t_bg .ton_j span{
		position:relative;top:13px;font-size:18px;
	}
	.t_bg .ton_j span{
		position:relative;top:13px;font-size:18px;
	}
	.t_bg{
    	position:relative;top:40px;
    }
    .banner_center{
    	position:relative;top:40px;
    }